*{
    padding: 0;
    margin: 0;
}

/*顶部和底部*/
.top
{
    position: absolute;
    width: 100%;
    height: 160px;
    min-width:1500px;
   vertical-align: middle;
}
.top1
{
    width: 100%;
    height: 100px;
    background-image:linear-gradient(to bottom,#fff,#ccc);
}
.top_pic
{
    position: absolute;
    display: inline-block;
    float: left;
    padding: 0 0 0 350px;
    height: 100px;
    width:auto;
}
.top_pic img
{
	
	float:left;
	display:inline-block;
	height:80px;
	width: 350px;
	padding: 10px 0 10px 0

}
.top_pic p
{

   display: inline-block;
   float:left;
   padding-top:50                                                                                                                                                                         px;
   font-size: 22pt;
   font-family:"黑体";
   padding-top:50px;
}
.top_list
{
    position: absolute;
    right:20px;
    float:left;
    display: inline-block;
    height: auto;
    padding-top: 20px;
    background: #fff;

}
.top_list ul
{
    overflow: hidden;
 }
.top_list ul li
{
    text-decoration: none;
    float: left;
    display: inline-block;
    padding: 3px 5px;
}
.top_list ul li a
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.top2
{
    width: 100%;
    height: 60px;
    background:fff;

}
.navigation
{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}
.navigation ul
{
    margin:0 auto;
    overflow: hidden;
}
.navigation ul li
{
    text-decoration: none;
    display: inline-block;
    float: left;
    line-height: 50px;
    font-size: 18pt;
    padding: 5px 10px;
    color: #666666;
}
.navigation ul li a
{
    text-decoration: none;
    font-size: 18pt;
    cursor: pointer;
    color: #666666;
}
.navigation ul li a:hover
{
    border-bottom: solid 3px #c03;
}

.bottom
{
    width: 100%;
    height: auto;
    background: #999;
    padding: 20px 0;
}
.bottom_text
{
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 800px;
    overflow: hidden;
    vertical-align: middle;
}
.bottom_text_font
{
    display: inline-block;
    float: left;
    width: 700px;
    
}
.bottom_text_font p
{
	padding: 5px 0;
}


/*中心简介*/
.intro_content
{
    position: absolute;
    top: 160px;
    width: 100%;
    height: auto;
    background: #dddddd;
}
.center
 {
    margin: 0 auto;
    width: 1200px;
 }
.center_img
{
    width: 100%;
    height: auto;
}
.center_img img
{
    width: 100%;
    height: 100%;
}
.img_blow
{
    padding: 12px 0 12px 12px;
    overflow: hidden;
    background: #ffffff;
}
.center_left
{
    display: inline-block;
    float: left;
    width: 300px;
    height: auto;
    overflow: hidden;
}
.center_left ul
{
    width: 100%;
    height:auto;

}
.center_left ul li
{
    text-decoration: none;
    margin-bottom: 3px;
    background: #dddddd;
}
.center_left ul li:hover
{
    cursor: pointer;
}
.center_left ul li a
{
    display: inline-block;
    font-size: 16pt;
    font-family:'新宋体';
    padding: 8px 5px;
}

.center_right
{
    display: inline-block;
    float: right;
    width: 876px;
    height:auto;
}
.center_right_top
{
    height: auto;
    width:auto;
    border-bottom: solid 2px #dddddd;
    overflow: hidden;
}
.center_title
{
    width: 300px;
    height: auto;
    padding-left: 30px;
    overflow: hidden;
    width:500px;
}

.center_title img
{
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    padding: 6.4px 5px 6.4px 0;
}
.center_title h1
{
    display: inline-block;
    float: left;
}
.center_right_blow
{
    padding: 10px;

}
.center_text
{
    background: #ffffff;
    text-align: center;
    min-height:500px;
    
}
.center_text p
{
    text-align: left;
    margin-bottom: 10px;
}
/*中心新闻*/
.NewsList
{
    background: #ffffff;
    text-align: center;
}
.news_text_list
{
    overflow: hidden;
}
.news_list
{
    border-bottom: 1px dotted #CCCCCC;
    height:34px;
    text-align: left;
    position:relative;
}
.news_list a
{
    color: black;
    text-decoration:none;
    position:absolute;
    bottom:0;
    padding:0;
    margin:0;

}
/*详细新闻页面*/
.newpage_top {
    width: 100%;
    height: 111px;
    margin: 0 auto;
    background: #aa0025 url(../img/list_head.jpg) no-repeat center top;
    overflow: hidden;
    min-width: 1200px;
}

.NewsArticle{
    width: 1200px;
    margin: 0 auto;
    min-height: 800px;
    overflow: hidden;
    background: #e6e6e6 url(../img/ty_bg.gif) no-repeat left 260px;
}
h1{ text-align:center; }

.NewsArticle p{
    padding:0 30px;
    margin-bottom:20px;
    overflow: hiddle;
}

/*材料文件*/
.document_list
{
    padding: 20px;
    width:100%;
    height:auto;
    min-height: 500px;
    background: #ffffff;
}
.document_list  li
{
    list-style: none;
    overflow: hidden;
}
.document_title
{
    float:left;
    display: inline-block;
    width: 80%;
    height: 30px;
    text-align: left;
}
.document_title a
{
    text-decoration: none;
}

.document_title a:hover
{
    color: #01a5a6;
    cursor: pointer;
   
}
.document_operation
{
    float:left;
    display: inline-block;
    width: 20%;
    height: 30px;
}

.document_operation p:hover
{

    color: #01a5a6;
    cursor: pointer;
}

/*联系我们*/
.connect_us1
{
    width:auto;
    height: auto;
    background: url(../img/connect.jpg) 100% 100% no-repeat;
    background-size: 100% 100%;
}
.connect_us2
{
    position: relative;
    height: 570px;
}
.connect_list
{
    position: absolute;
    height: auto;
    width:100%;
    overflow: hidden;
    bottom:0;
}
.connect_list ul
{
    overflow: hidden;
    text-decoration: none;
    width: auto;
    text-align: center;

}
.connect_list ul li
{
    text-decoration: none;
    display: inline-block;
    padding: 0 30px;

}
.connect_list ul li a
{
    text-decoration: none;
    display:inline-block;
    overflow: hidden;
}
.connect_list ul li a p
{
    color: #333333;
}

.connect_list ul li a:first-child
{

}
.connect_list img {
    width: 50px;
    height: 50px;
}
